.cv-container {
    overflow-y: scroll;
}

#visualizer-section {
    background-color: darkgrey;
    max-height: 100vh;
}

#editor-section {
    max-height: 100vh;
    overflow: scroll;
}


.row {
    margin: 0px;
}

.editor-rich-text {
    min-height: 100px;
    max-height: 200px;
    overflow: scroll;
}

.form-wrapper {
    transition: .5s;
    display: none;
}
.form-wrapper.show {
    display: block;
}